<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tipnow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39E5593C1D551F1B00233FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39E559501D551F1B00233FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39E5595B1D551F1B00233FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
